[Unit]
Description=dotfiles hypr-dock bottom launcher
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/env hypr-dock -config %h/.config/hypr-dock/hypr-dock.conf
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
