[Unit]
Description=Run Stash maintenance tasks on a schedule

[Timer]
OnBootSec=15m
OnUnitActiveSec=6h
Persistent=true
Unit=stash-maintenance.service

[Install]
WantedBy=timers.target
