[Unit]
Description=swww wallpaper daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecCondition=/usr/bin/sh -c 'test -n "$WAYLAND_DISPLAY" && test -S "$XDG_RUNTIME_DIR/$WAYLAND_DISPLAY"'
Environment=PATH=%h/.local/bin:%h/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=/usr/bin/swww-daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
